body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  height: 50px;
  width: 100px;
  background-color: red;
  display: block;
}